*{

    box-sizing: border-box;  /*ça bloque l'élement, le recentre 
    et ça fait une marge*/

}

html, body, div, span, applet, object, iframe,

h1, h2, h3, h4, h5, h6, p, blockquote, pre,

a, abbr, acronym, address, big, cite, code,

del, dfn, em, img, ins, kbd, q, s, samp,

small, strike, strong, sub, sup, tt, var,

b, u, i, center,

dl, dt, dd, ol, ul, li,

fieldset, form, label, legend,

table, caption, tbody, tfoot, thead, tr, th, td,

article, aside, canvas, details, embed,

figure, figcaption, footer, header, hgroup,

menu, nav, output, ruby, section, summary,

time, mark, audio, video {

    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

h1{
   font-size: 70px;
   color: white;
   margin-top: 50px;
   text-align: center;
    font-family: 'Amatic SC', cursive;
    font-weight: 400;
    float: left;
}

h2{
   font-size: 50px;
   color: CRIMSON;
   padding: 20px;
   font-weight: bold;
    font-family: 'Amatic SC', cursive;
}

h3{
   font-size: 22px;
   color: #2c3e50;
   padding: 15px;
}

h4{
    text-align: center;
    margin-top: 30px;
    color: #2c3e50;
    font-size: 20px;
}

h5{
   font-size: 85px;
   color: /*CRIMSON*/purple;
   padding: 20px;
   font-weight: bold;
    font-family: 'Amatic SC', cursive;
    text-align: center;
}

blockquote{
   font-style: italic;
   font-size: 120%;
}

strong{
   font-weight: bold;
}

main{
    background: papayawhip;
    margin: 0 auto;
    width: 1000px;
}

aside{
   /*height: 250px;*/
   height: 300px;
}

section{
   margin-top: 50px;
   /*background: THISTLE;*/
   padding: 20px;
}

footer{
   background:MISTYROSE;
   height: 30px;
}

/*********************************  DEBUT HEADER  ***********************************/

header{
   background-color:SLATEGRAY;
   height: 290px;
}

#logo{
 width: 25%;
 text-align: center;
 padding: 15px;
 float: left;
}

#rs{
 width: 5%;
 float: right;
 padding: 20px;
}

#rs a{
font-size: 30px;
color: white;
display: block;/*change leur type inline en block pour les mettre les uns en dessous des autres*/
text-align: center;
padding: 15px 30px 0 0;
text-decoration: none;
}

#rs a:hover{
 font-size: 60px;
 transition: 1s;
}

/**********************FIN DE HEADER*******************/

/*********************DEBUT DE NAV*********************/

nav{
 background-color: MISTYROSE;
 border-bottom: 4px solid slategray;
 text-align: center;
 padding: 17px;
 clear: both;
}

nav a{
 font-family: 'Amatic SC' cursive;
 font-size: 25px;
 text-decoration: none;
 color: black;
 font-weight: 500;
 border: 1px solid pink;
 padding: 6px 9px;
 border-radius: 7px;
 margin: 0px 8px;
}

nav a:hover{
 background: pink;
 transition: 1s;
}

.activ{
 background: pink;
}

/********************FIN DE NAV**********************/

/********************DEBUT DE TEXTE*****************/

.roboto p{
    font-family: 'Niramit', sans-serif; ;
}

/********************DEBUT DE SELECTEURS*****************/

.select p{
    color : red;
}

.select p:first-of-type{
    color: purple;
}

.select p:last-of-type{
    color: purple;
}

.select p:nth-of-type(5),.select p:nth-of-type(6){
    color: black;
}

.select .zoneB .couleurbleu{
    color: blue;
}

.select #zoned span{ /*le span prendra en compte aussi .couleurbleu sauf pour la couleur car on l'aura déjà définie */
    color: deepskyblue;
}

.select .zoneA{
    color: #963;
}

.select .zoneB{
    color: #f56;
}

.select #zonec{
    color: green;
}

/********************FIN DE SELECTEURS*****************/


/******************** DEBUT PAGE IMAGES*****************/

.imageFond{
    background: #000 url("../img/fond.jpg") no-repeat;
    background-size: cover;
}

.imageFond p{
    width: 75%;
    margin: 100px auto 200px auto; /*auto permet de centrer*/
    background: rgba(255, 255, 255, 0.6);
    padding: 20px;
    font-size: 120%;
    border-radius: 10px;
}

/******************** La tour Eiffel *****************/

.tourEiffel img{
    border: 5px solid black;
    width: 250px;
    box-shadow: 5px 5px 15px #555;
    margin: auto;
    display: block;
}

/******************** Rotation *****************/

.francisco img {
	border: 5px solid #fff;
	box-shadow: 0 0 10px;
	margin: 20px;
	transition: .4s;
}

.francisco p img:first-of-type:hover {
	transform: rotateZ(-20deg);
    transition: .4s;
}

.francisco p img:last-of-type:hover {
    transform: rotateZ(20deg);
    transition: .4s;
}

.francisco .lstimg{
	display: block;
	margin: auto;
}

.francisco .lstimg:hover {
	transform: rotateZ(-360deg);
    transition: 1s;
}

/**************FIN DE PAGE IMAGES****************/

/**************DEBUT PAGE POSITIONS****************/

.centre{
    margin: 0 auto;
    width: 500px;
    background: #3cc;
    color: white;
    text-align: center;
    line-height: 180px;
    font-size: 50px;
    font-style: italic;
}

.relative{
    background: red;
    width: 500px;
    height: 500px;
    position: relative;
    bottom: 50px;
    margin: 0 auto;
}

.relative div{
    position: absolute;
    bottom: 10px;
    width: 50px;
    height: 50px;
    background: blue;
}

button{
    position: fixed;
    background: transparent;
    right: 20px;
    cursor: pointer;
    font-size: 350%;
    color: slategray;
    border: none;
    bottom: 40px;
}

button:hover{
    color: pink;
    transition: 1s;
}

.trente{
    width: 30%;
    padding: 20px;
    font-size: 22px;
    background: #f1684e;
    color: #efe94b;
    font-weight: bold;
}

.cinquante{
    width: 50%;
    padding: 20px;
    font-size: 22px;
    background: #383746;
    color: #efe94b;
    font-weight: bold;
    margin-top: 10px;
}

.cent{
    width: 100%;
    padding: 20px;
    font-size: 22px;
    background: #3cc;
    color: #efe94b;
    font-weight: bold;
    margin-top: 10px;
}

.carre{
    width: 170px;
    height: 170px;
    background: rosybrown;
    border: 3px solid #3cc;
    margin: 10px;
    float: left;
    text-align: center;
    font-size: 25px;
    color: white;
    line-height: 150px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
}

.carre:hover{
    background: #DC143C;
    border: 15px solid lightseagreen;
    transition: 1s;
    transform: rotate(45deg);
    border-radius: 85px;
}

.float2{
    margin: 0 auto;
    width: 100%;
}

.rect{
    height: 40px;
    background: darkseagreen;
}

.c1, .c2, .c3, .c4{
    width: 25%;
    height: 250px;
    float: left;
}

.c1{
    background: lightpink;
}

.c2{
    background: lightcoral;
}

.c3{
    background: lightgreen;
}

.c4{
    background: lightcyan;
}

.clear{
    clear: both;
}

/*le flex: méthodes et techniques qui permettent de placer des éléments. Les parents ont leur met un display : flex et placent ses enfants*/

.flex{
    display: flex;
    /*justify-content: space-around;*//*les éléments s'affichent avec un espace égal autour d'eux même.*/
    justify-content: space-around; /*les éléments s'affichent avec un espace entre eux.*/
    flex-direction: row; /*Les éléments s'inversent sur la rangée. */
}

.flex div{
    width: 150px;
    height: 150px;
    background: indianred;
    border: 3px solid;
    text-align: center;
    font-size: 50px;
    color: #fff;
}

/*****************FIN PAGE POSITIONS************************/

/*****************DEBUT PAGE ZONING************************/

.zone1{
    width: 100%;
    height: 700px;
    border: 3px solid lightseagreen;
}
.zonehaut{
    width: 100%;
    height: 30%;
    background-color: lightpink;
}

.zonegauche{
    width: 40%;
    height: 70%;
    background-color: lightblue;
    float: left;
}

.zonedroite{
    width: 60%;
    height: 70%;
    background-color: lightgreen;
    float: right; 
}
 /************/

.zone2{
    width: 100%;
    height: 700px;
    border: 3px solid lightseagreen;
}

.zhaut{
    width: 100%;
    height: 30%;
    background-color: lightpink;
}

.zgauche{
    width: 20%;
    height: 70%;
    background-color: lightblue;
    float: left;
}

.zmilieu{
    width: 60%;
    height: 70%;
    background-color: lightgreen;
    display: inline-block;
    text-align: center;
}

.zdroite{
    width: 20%;
    height: 70%;
    background-color: lightblue;
    float: right;
    text-align: right; 
}
 /***************/

.zone3{
    width: 100%;
    height: 700px;
    border: 3px solid lightseagreen;
}

.zg{
    width: 50%;
    height: 70%;
    background-color: lightblue;
    float: left;
}

.zd{
    width: 50%;
    height: 70%;
    background-color: lightgreen;
    float: right;
}

.zbas{
    width: 100%;
    height: 30%;
    background-color: lightpink;
}

.clear{
    clear: both;
}

/********************/

.zone4{
    width: 100%;
    height: 900px;
    border: 3px solid lightseagreen
}

.zoneh{
    width: 100%;
    height: 15%;
    background-color: lightskyblue;
    text-align: center;
}

.menu{
    width: 100%;
    height: 10%;
    background-color: lightpink;
    text-align: center;
    border-bottom: 5px solid lightskyblue;
}

.zm{
    width: 100%;
    height: 65%;
    background-color: white;
    padding-top: 5%;
}

.milieu{
    width: 90%;
    height: 90%;
    background-color: lightgreen;
    margin: auto;
    text-align: center;
}

.zb{
    width: 100%;
    height: 10%;
    background-color: lightpink;
    text-align: center;
}

/****************/

.zone5{
    width: 100%;
    height: 1000px;
    border: 3px solid lightseagreen
}

.zh{
    width: 100%;
    height: 15%;
    background-color: lightskyblue;
    text-align: center;
}

.menu2{
    width: 100%;
    height: 10%;
    background-color: lightpink;
    text-align: center;
}

.zm2{
    width: 100%;
    height: 65%;
    background-color: white;
    padding-top: 6%;
}

.middle{
    background-image: url(../img/fond.jpg);
    width: 90%;
    height: 90%;
    margin: auto;
}

.img1, .img2, .img3, .img4{
    width: 50%;
    height: 50%;
}

.img1{
    float: left;
    text-align: center;
}

.img1:hover{
    transform: rotate(360deg);
    transition: 1s;
}

.img2{
    background-color: greenyellow;
    float: right;
    text-align: center;
}

.img2:hover{
    transition: 1s;
    transform: rotate(360deg);
    border-radius: 150px;
    opacity: 0.1;
}

.img3{
    background-color: blueviolet;
    float: left;
    text-align: center;
}

.img3:hover{
    transition: 1s;
    transform: rotate(360deg);
    border-radius: 150px;
    opacity: 0.1;
}

.img4{
    background-color: #f56;
    float: right;
    text-align: center;
}

.img4:hover{
    transition: 1s;
    transform: rotate(360deg);
    border-radius: 150px;
    opacity: 0.1;
}

.zb2{
    width: 100%;
    height: 10%;
    background-color: lightpink;
    text-align: center;
}

.zone6{
    width: 100%;
    height: 1000px;
    border: 3px solid lightseagreen;
}

.haut1{
    width: 25%;
    height: 200px;
    background-color: lightpink;
    text-align: center;
    float: left;
}

.haut2{
    width: 50%;
    height: 200px;
    background-color: lightcoral;
    text-align: center;
    display: inline-block;
}

.haut3{
    width: 25%;
    height: 200px;
    background-color: lightpink;
    text-align: center;
    float: right;
}

.aside{
    width: 20%;
    height: 700px;
    background-color: lightseagreen;
    float: left;
    text-align: center;
}

.amenu{
    width: 40%;
    height: 300px;
    background-color: lightcyan;
    display: inline-block;
    text-align: center;
}

.B{
    width: 40%;
    height: 300px;
    background-color: lightblue;
    float: right;
    text-align: center;
}

.slideshow{
    width: 80%;
    height: 250px;
    background-color: lightgreen;
    display: inline-block;
    text-align: center;
}

.C{
    width: 20%;
    height: 150px;
    background-color: lightcyan;
    float: left;
    text-align: center;
}

.D{
    width: 20%;
    height: 150px;
    background-color: lightskyblue;
    float: left;
    text-align: center;
}

.E{
    width: 20%;
    height: 150px;
    background-color: lightcyan;
    float: left;
    text-align: center;
}

.F{
    width: 20%;
    height: 150px;
    background-color: lightskyblue;
    float: left;
    text-align: center;
}

#bloc{
    height: 150px;
    width: 100%;
}

.Bas{
    width: 100%;
    height: 94px;
    background-color: lightsalmon;
    text-align: center;
}

/* Fin de la page zoning */

/*****************DEBUT DE PAGE LISTE**************/

ul.fruit{
    /* je cible ul qui est dans la class fruit differend avec espace je cible la class fruit qui se trouve dans ul */
    list-style: none;
}

ul .fruit li{
    display: inline;
    margin: 15px;
}

li .fa{
    font-size: 80%;
    color: tomato;
}

.imbriquee, .imbriquee ul{
    padding-left: 15px;
    margin: 5px;
    cursor: pointer; 
}

/* .imbriquee li:not(.eu), .imbriquee li:not(.asie){

    margin-left:15px;

 } */

.asie ul li:hover{
    color: tomato;
    font-size: 30px;
    transition:2s;
}

.asie span:hover{
    color: tomato;
    font-size: 30px;
    transition: 1s;
}

.eu ul li:hover{
    color: tomato;
    font-size: 30px;
    transition: 1s;
}

.eu span:hover{
    color: tomato;
    font-size: 30px;
    transition: 1s;
}

.asie span, .eu span{
    font-size: 30px;
    font-weight: bold;
}

/*****************FIN DE LA PAGE LISTE**************/

/*****************DEBUT DE LA PAGE LIENS ET MENUS**************/

/* Les 3 boutons */
.container{
    border-top: 3px solid lightseagreen;
    border-bottom: 3px solid lightseagreen;
    padding: 40px;
}

.liens{
    text-align: center;
    margin: 15px;
}

.liens a{
    text-decoration: none;
    height: 30px;
    width: 50px;
    background-color: lightpink;
    color: white;
    border-radius: 5px;
    padding: 8px;
    margin: 5px;
    box-shadow: 0px 1px 24px 0px lightgreen;
}

a:hover{
    font-size: 150%;
    transition: 1s;
}

.liens a:hover{
    color: lightgreen;
}

/* Les liens */

#sectionLien a{
    text-decoration: none;
    color: cornflowerblue;
    font-size: 18px;
}

/* Les menus */
#menus{
    text-align: center;
    margin: 15px;
}

#menus a{
    text-decoration: none;
    height: 30px;
    width: 50px;
    background: transparent;
    color: lightcoral;
    border: 2px solid lightcoral;
    border-radius: 5px;
    padding: 12px;
    margin: 5px;
}

/* Les menus déroulants */

#menuDeroulant{
    height: 650px;
}

#menuDeroulant nav{
    background: transparent;
    border: none;
    width: 90%;
    margin: 0 auto;
}

#menuDeroulant nav ul li{
    float: left;
    list-style: none;
    width: 20%;
}

#menuDeroulant ul ul{ /*Les listes qui sont dans les listes*/
    display: none;
}

#menuDeroulant nav ul li ul li{
    width: 100%;
}

#menuDeroulant nav li{
    background: lightgoldenrodyellow;
}

#menuDeroulant nav li a{
    text-decoration: none;
    color: #000;
    display: block; /* pour qu'il s'étende sur toute la longueur de son conteneur*/
    background: mistyrose;
}

#menuDeroulant nav ul.niveau1 li.sousMenu:hover ul.niveau2{
    display: block;
}

/*****************FIN DE LA PAGE LIENS ET MENUS**************/

/*****************DEBUT DE LA PAGE TABLEAUX**************/

table{
    border-collapse: collapse;
    text-align: center;
    margin: auto;
}

td{
    border: 2px ridge lightcoral;
    padding: 7px;
}

table td:first-of-type{
    padding-left: 40px;
    padding-right: 40px;
}

table tr:first-child{
    background-color: lightgreen;
}

tfoot{
    background-color: lightgreen;
}

.fa{
    margin: 5px;
}

/*****************FIN DE LA PAGE TABLEAUX**************/

/*****************DEBUT DE LA PAGE FORMULAIRE**************/

.formulaire{
    width: 80%;
    height: 620px;
    background-color: lightcyan;
    border-radius: 25px;
    margin: auto;
    padding: 30px;
}

label{
    margin: 10px 0;
    width: 50%; 
    display: inline-block;
}

textarea{
    resize: none;
}

label[for="orange"], label[for="fraise"],label[for="mangue"]{
    width: 10%;
}

/*****************FIN DE LA PAGE FORMULAIRE**************/

/*****************DEBUT DE LA PAGE ANIMATION**************/

.infoBulle{
    height: 250px;
    width: 500px;
    margin: auto;
    padding-top: 15px;
    background: slategray;
    box-shadow: 0 0 50px #222 inset /*effet à l'intérieur de l'élément*/
}

.infoBulle p{
    text-align: center;
    padding-top: 30px;
}

.infoBulle a{
    color: white;
    text-shadow: 0 -2px 0 black;
    text-decoration: none;
    border-radius: 3px;
    padding:5px 15px;
}

.infoBulle a:hover{
    text-shadow: 0 1px 2px black;
    background: rgba(0,0,0,0.4);
    box-shadow: 0 1px 0 rgba(255,255,255,0.4);
    color: white;
}

.infoBulle a span{
    position: absolute;
    padding: 15px;
    margin-top: 23px;
    margin-left: -35px;
    background: rgba(0,0,0,0.9);
    opacity: 0;
    color: pink;
    transform: scale(0) rotateZ(-12deg);
    transition: .25s;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0,0,0,.5);
}

.infoBulle a:hover span{
    opacity: 1;
    transform: scale(1) rotateZ(0);
}

.infoBulle a span:before{
    content:'';
    position: absolute;
    top: -6px;
    left: 10px;
    border-bottom: 6px solid rgba(0,0,0,.9);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

.imgEffets{
    width: 320px;
    height: 320px;
    margin: 70px auto;
}

.imgEffets li{
    list-style: none;
    float: left;
    width: 141px;
    height: 150px;
    margin: 5px;
}

.imgEffets li:nth-child(3){
    clear: both;
}

.imgEffets img{
    position: absolute;
    z-index: 1;
    height: 150px;
    box-shadow: 0 0 3px black;
    transition: .5s cubic-bezier(0,3,.4,1);
}

.imgEffets li:hover img{
    z-index: 2;
    transform: scale(1.5);
    box-shadow: 0 0 10px black;
}

.imgEffets:hover li:not(:hover) img{ /*Je mets au survol de la classe imgEffets les images en gris et en flou */
    filter: grayscale(1) blur(8px);
}

#menuRotate{
    height: 360px;
    width: 576px;
    margin: 100px auto;
    background: lightpink;
    position: relative; /* absolute en fonction du body sauf si son parent est en relative */
    overflow: hidden;
    border: 2px solid lightblue;
}

#menuRotate .masque{
    position: absolute;
    z-index: 50;
    width: 585px;
    height: 135px;
    top: 0;
    left: 0;
    background: linear-gradient(lightgreen, lightpink);
}

#menuRotate .ombre{
    position: absolute;
    z-index: 40;
    width: 300px;
    height: 6px;
    box-shadow: 0px 100px 3px lightseagreen;
    border-radius: 75px / 3px; /*rayon horizontaux / rayons verticaux */
    top: 32px;
    left: 142px;
}

#menuRotate dl{
    position: relative;
    top: 0;
    left: 50%;
    margin-left: -75px;
    width: 150px;
    height: 155px;
    color: white;
    text-align: center;
    background: lightcoral;
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
    transform-origin: 50% 120px;
    animation: bounceOut 0.7s ease-in-out;
}

#menuRotate dt{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    padding-top: 5px;
}

#menuRotate dd{
    transform: rotate(180deg);
}

#menuRotate dd a{
    display: block;
    height: 24px;
    padding: 3px 0;
    color: white;
    text-decoration: none;
}

#menuRotate dd a:hover{
    background: rgba(255,255,255,0.1);
}

#menuRotate dl:hover{
    transform: rotate(-180deg);
    animation: bouceIn 0.7s ease-in-out;
}

@keyframes bouceIn{
    from{transform: rotate(0deg);}
    75%{transform: rotate(-200deg);}
    90%{transform: rotate(-175deg);}
    to{transform: rotate(-180deg);}
}

@keyframes bouceOut{
    from{transform: rotate(0deg);}
    0%{transform: rotate(-180deg);}
    10%{transform: rotate(-165deg);}
    to{transform: rotate(-360deg);}
}

/***********FIN DE LA PAGE ANIMATION***********/