/* Debut du style et 'reset' du body */

body{
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Style du titre H1 */

body h1{
    text-align: center;
    font-size: 50px;
    margin-top: 15px;
    padding: 25px;
}

/* Ouverture du container */

#container{
    width: 70%;
    height: 2000px;  /*A CHANGER !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    margin: auto;
    background-color: rgb(82, 86, 89);
}

p{
    text-transform: uppercase;
}

ul{
    float: left;
    width: 40%;
    margin-bottom: 80px;
}

li{
    list-style: none;
    margin-bottom: 7px;

}

.input{
    width: 250px;
}

#texte{
    float: right;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    padding-right: 70px;
}

#select{
    width: 40px;
}

p:last-child select option{
    width: 15px;
}

/* #annee{
    width: 60px;
} */

.clear{
    clear: both;
}

#client{
    float: left;
    width: 40%;
    margin-left: 30px;
}

#client h4{
    margin-left: 10%;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
}

#client option{
    width: 230px;
}

#client input{
    width: 250px;
}

#expedition{
    float: right;
    margin-right: 70px;
}

#expedition h4{
    font-weight: bold;
    font-size: 25px;
    margin-left: 13%;
    text-transform: uppercase;
}

#expedition option{
    width: 230px;
}

#expedition input{
    width: 250px;
}
/* Tableau */

caption{
    font-size: 35px;
    padding: 8px;
    font-weight: bold;
}

table{
    border: 1px solid black; 
    border-collapse: collapse;
    margin: 0 auto;
    width: 90%;
}
thead{
    border : 1px solid black;
    height: 50px;
}

tfoot{
    border: 1px solid black;
    height: 38px;
}

tbody{
    border: 1px solid black;
    height: 38px;
}

th{
    border: 1px solid black;
    padding: 4px;
    width: 10%;
    height: 38px;
}

td{
    font-size: 100%;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    height: 40px;
}
/* fin du tableau */
